img {
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 5px;
	width: 250px;
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#nav {
	text-align: center;
}

#navTitle {
	text-align: center;
}
